html {
  scroll-behavior: smooth;

}

body {
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
      margin: 0;
     padding: 0;

}

/* Reusable button hover style */
.btn-hover {
  @apply hover:bg-yellow-300 hover:text-white cursor-pointer hover:ring-2 hover:shadow-md hover:ring-pink-200 transition duration-300;
}

/* Carousel arrow visibility */
@media (max-width: 767px) {
  .sidebutton {
    display: none;
  }
}
@media (min-width: 768px) {
  .bottombutton {
    display: none;
  }
}
